* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1200px;
  margin: auto;
}

header {
  background: #fff200;
  text-align: center;
  height: 44.5px;
}

/*============================== Navigation ==============================*/

nav {
  background-color: black;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul li,
a {
  color: white;
  font-size: 15px;
}

nav ul li:nth-child(2) a {
  color: #fff200;
}

nav ul li:nth-child(2) i {
  color: #fff200;
  font-size: 15px;
  margin-left: 6px;
}

nav ul li:nth-child(3) {
  position: relative;
}

nav ul li:nth-child(3) input {
  height: 35px;
  width: 100%;
  border-radius: 20px;
  border: none;
  padding-left: 8px;
  outline: none;
}

nav ul li:nth-child(3) i {
  position: absolute;
  color: black;
  font-size: 20px;
  right: 8px;
  line-height: 35px;
  cursor: pointer;
}

nav ul li:nth-child(4) button {
  height: 35px;
  padding: 0 12px;
  border-radius: 10px;
  color: white;
  border: 1px solid rgb(156, 156, 156);
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
}

nav ul li:nth-child(4) button:hover {
  background: rgb(94, 94, 94);
}

nav ul li:nth-child(4) button i {
  margin-right: 8px;
}

nav ul li:nth-child(5) {
  text-align: center;
}

nav ul li:nth-child(5):hover a {
  color: #fff200;
}

nav ul li:nth-child(6) a {
  color: #fff200;
}

.round {
  display: inline-block;
  position: relative;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background: #fff200;
  margin-right: 10px;
}

.circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background: #fff200;
  z-index: 1;
  display: block;
  animation: trans 2s linear infinite;
}

@keyframes trans {
  from {
    opacity: 0.4;
  }
  to {
    transform: scale(10);
    opacity: 0;
  }
}

nav ul li:nth-child(7) {
  text-align: center;
}

nav ul li:nth-child(7):hover a {
  color: #fff200;
}

nav ul li:nth-child(8):hover a {
  color: #fff200;
}

nav ul li:nth-child(9):hover a {
  color: #fff200;
}

/*============================== Menubar ==============================*/

.menu-bar {
  background: #fed100;
}

.menu-bar ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-bar ul li a {
  color: black;
  font-size: 15px;
}

.menu-bar-content > ul > li {
  padding: 18px 5px;
  transition: all 0.2s ease;
}

.menu-bar ul li:hover {
  background: white;
}

.menu-bar ul li a i {
  font-size: 19px;
}

.menu-bar ul li:nth-child(9) {
  position: relative;
}

.menu-bar ul li:nth-child(9) .note {
  position: absolute;
  display: inline-block;
  background: #f51212;
  font-size: 10px;
  color: white;
  border-radius: 20px;
  width: 46px;
  line-height: 16px;
  text-align: center;
  top: 2px;
  right: -4px;
}

.menu-bar ul li:nth-child(9) .note::after {
  content: "";
  position: absolute;
  border: 4px #f51212 solid;
  border-color: #f51212 transparent transparent;
  bottom: -7.9px;
  left: 8px;
}

/*============================== Address form ==============================*/

.address-form {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 2;
  color: black;
  display: none;
}

.address-form-content {
  width: 400px;
  height: 450px;
  background: white;
  border-radius: 5px;
}

.address-form-content form {
  padding: 0 40px;
}

.address-form-content h2 {
  font-size: 14px;
  padding: 12px 0;
  border-bottom: 1px solid #ddd;
  position: relative;
  margin-bottom: 20px;
}

.address-form-content h2 span {
  display: block;
  position: absolute;
  height: 30px;
  padding: 0 6px;
  border: 1px solid #ddd;
  font-weight: 600;
  top: 5px;
  right: 12px;
  cursor: pointer;
  line-height: 30px;
  border-radius: 8px;
}

.address-form-content h2 span:hover {
  background: #b8b4b4;
}

.address-form-content p {
  margin-bottom: 20px;
  font-size: 16px;
}

.address-form-content input,
select {
  height: 40px;
  display: block;
  margin: 25px 0;
  width: 100%;
  font-size: 16px;
  border: 1px solid rgb(161, 157, 157);
}

.address-form-content form button {
  height: 40px;
  width: 300px;
  background: orange;
  border: none;
  font-size: 18px;
  font-weight: 500;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

/*======================= Submenu ========================*/
.menu-bar-content ul li {
  position: relative;
}

.submenu {
  position: absolute;
  background: #ddd;
  width: 300px;
  height: 200px;
  top: 100%;
  left: 0;
  padding: 0.5px 0.5px;
  overflow: scroll;
  display: none;
  z-index: 2;
}

.submenu ul {
  display: block;
}

.submenu ul li {
  padding: 10px 0;
}

.submenu ul li:hover a {
  color: blue;
  font-weight: bolder;
}

.submenu ul li:hover {
  background: none;
}

.menu-bar-content ul li:hover .submenu {
  display: block;
}

/*================================ Slider ======================================*/
li {
  list-style: none;
}

.slider {
  padding: 20px 0;
  height: 350px;
}

.slider-content {
  display: flex;
  justify-content: space-between;
}

.slider-content-left {
  width: 65%;
}

.slider-content-left-top {
  width: 100%;
  height: 300px;
  position: relative;
}

.slider-content-left-top-btn {
  position: absolute;
  top: 50%;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.slider-content-left-top-btn .fa-solid {
  color: #333;
  font-size: 32px;
  height: 50px;
  width: 25px;
  background: #fff7f7;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-50%);
  border-radius: 5px;
  opacity: 0;
  transition: all 0.3s ease;
  cursor: pointer;
}

.slider-content-left-top img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider-content-left-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #ddd;
  border-top: none;
  height: 50px;
}

.slider-content-left-bottom li {
  width: 20%;
  text-align: center;
  cursor: pointer;
  padding: 6px 0;
  height: 100%;
  line-height: 38px;
  position: relative;
}

.slider-content-left-bottom li::before {
  display: block;
  content: "";
  position: absolute;
  height: 70%;
  width: 1px;
  background: #ddd;
  right: 0;
}

.slider-content-left-bottom li.active {
  border-top: 4px solid #fff200;
}

.slider-content-right {
  width: 35%;
  display: flex;
  flex-wrap: wrap;
  padding: 0 20px;
  justify-content: space-around;
}

.slider-content-right li {
  width: 50%;
  height: 50%;
  text-align: center;
  margin-bottom: 3px;
}

.slider-content-right li img {
  height: 170px;
  width: 170px;
  object-fit: cover;
}

/*================================== Slider JS =====================================*/
.slider-content-left-top img {
  position: absolute;
}

.slider-content-left-top a:nth-child(2) img {
  transform: translateX(100%);
}

.slider-content-left-top a:nth-child(3) img {
  transform: translateX(200%);
}

.slider-content-left-top a:nth-child(4) img {
  transform: translateX(300%);
}

.slider-content-left-top a:nth-child(5) img {
  transform: translateX(400%);
}

.slider-content-left-top a:nth-child(6) img {
  transform: translateX(500%);
}

.slider-content-left-top-container {
  position: relative;
  overflow: hidden;
}

.slider-content-left-top-container:hover .fa-solid {
  opacity: 1;
}

.slider-content-left-top {
  transition: all 0.3s ease;
}

/*=========================== Slider 1 ===============================*/
.slider-content-left-bottom li.active {
  border-top: 4px solid #fff200;
  font-weight: bolder;
}

.slider-content-left-bottom li {
  border-top: 4px solid #fff;
  border-bottom: 4px solid #fff;
}

/*=============================== Banner 1 ==============================*/
.banner-one {
  margin-top: 30px;
}

/*=============================== Product ==============================*/
.product-one {
  padding: 2px 0 12px;
}

.product-one-content {
  background: #fed100;
  padding: 12px 2px 2px;
}

.product-one-content-title h2 {
  font-style: italic;
  padding: 12px 0;
}

.product-one-content-items {
  display: flex;
  justify-content: space-evenly;
}

.product-one-content-item:hover > img {
  transform: translateY(-20px);
}

.product-one-content-item {
  width: 19%;
  background: #fff;
  padding: 50px 12px 50px;
  border-radius: 5px;
  cursor: pointer;
}

.product-one-content-item > img {
  width: 100%;
  transition: all 0.3s ease;
}

.product-one-content-item-text {
  padding-top: 20px;
}

.product-one-content-item-text li {
  margin-bottom: 6px;
}

.product-one-content-item-text li:nth-child(2):hover {
  color: blue;
  font-weight: bold;
}

.product-one-content-item-text li:first-child {
  height: 30px;
  width: 70%;
  background: #de1c05;
  display: inline-block;
  margin-bottom: 20px;
  align-items: center;
  line-height: 30px;
  border-radius: 40px;
}

.product-one-content-item-text li:first-child p {
  color: #fff;
  font-size: 12px;
}

.product-one-content-item-text li:first-child img {
  width: 30px;
  float: left;
  margin-right: 6px;
}

.product-one .product-one-content-item-text li:nth-child(4) a {
  text-decoration: line-through;
  color: #333;
}

.product-one-content-item-text li:nth-child(5) {
  font-weight: bolder;
}

.product-one-content-item-text li:last-child .fa-solid {
  color: #fb6e2e;
}

.product-one-content-item-text li:last-child .last {
  color: silver;
}

.product-one-content-item-text li:last-child .final {
  color: silver;
}

/*==================================== Item product ====================================*/
.product-one-content-container {
  position: relative;
  overflow: hidden;
}

.product-one-content-container:hover .fa-solid {
  opacity: 1;
}

.product-one-content-btn {
  position: absolute;
  top: 50%;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.product-one-content-btn .fa-solid {
  color: #333;
  font-size: 32px;
  height: 50px;
  width: 25px;
  background: #fff7f7;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-50%);
  border-radius: 5px;
  transition: all 0.3s ease;
  cursor: pointer;
  opacity: 0;
}

.product-one-content-items-content {
  position: relative;
  height: 555px;
  transition: all 0.3s ease;
}

.product-one-content-items {
  position: absolute;
}

.product-one-content-items:nth-child(2) {
  transform: translateX(100%);
}

.product-one-content-items:nth-child(3) {
  transform: translateX(200%);
}

.product-one-content-items:nth-child(4) {
  transform: translateX(300%);
}

.product-one-content-items:nth-child(5) {
  transform: translateX(400%);
}

/*=============================== Fix lỗi 01 ===================================*/
.slider-content-left {
  width: 70%;
}

.slider-content-right {
  width: 30%;
  padding: 0;
}

.product-one-content {
  padding: 0;
}

.product-one-content-title {
  padding: 0 12px;
}

/*=============================== Product Gallery ===================================*/
.product-gallery-one {
  margin: 15px 0 15px;
}

.product-gallery-one-content-product {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.product-gallery-one-content-product-item {
  width: 20%;
  padding: 50px 12px 12px;
  border: 1px solid #b7b7b7;
  cursor: pointer;
}

.product-gallery-one-content-product-item:hover {
  box-shadow: 2px 2px 2px #333;
}

.product-gallery-one-content-product-item:hover > img {
  transform: translateY(-30px);
}

.product-gallery-one-content-product-item > img {
  width: 100%;
  transition: all 0.4s ease;
}

.product-gallery-one-content-product-item-text {
  padding-top: 20px;
}

.product-gallery-one-content-product-item-text li {
  margin-bottom: 6px;
}

.product-gallery-one-content-product-item-text
  li:nth-child(7)
  .fa-solid:last-child {
  color: silver;
}

.product-gallery-one-content-product-item-text
  li:nth-child(7)
  .fa-solid:nth-child(4) {
  color: silver;
}

.product-gallery-one-content-product-item-text li:nth-child(2):hover {
  color: blue;
  font-weight: bold;
}

.product-gallery-one-content-product-item-text li:first-child {
  height: 30px;
  width: 70%;
  background: #de1c05;
  display: inline-block;
  margin-bottom: 20px;
  align-items: center;
  line-height: 30px;
  border-radius: 40px;
}

.product-gallery-one-content-product-item-text li:first-child p {
  color: #fff;
  font-size: 12px;
}

.product-gallery-one-content-product-item-text li:first-child img {
  width: 30px;
  float: left;
  margin-right: 6px;
}

.product-gallery-one-content-product-item-text li:nth-child(4) a {
  text-decoration: line-through;
  color: #333;
}

.product-gallery-one-content-product-item-text li:nth-child(5) {
  font-weight: bolder;
}

.product-gallery-one-content-product-item-text li:last-child .fa-solid {
  color: #fb6e2e;
}

.product-gallery-one-content-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 0 25px;
}

.product-gallery-one-content-title ul {
  display: flex;
}

.product-gallery-one-content-title ul li {
  display: inline-block;
  height: 50px;
  width: 190px;
  background: transparent;
  border: 1px solid #bcbcbc;
  line-height: 50px;
  text-align: center;
  border-radius: 30px;
}

.product-gallery-one-content-title ul li:hover {
  box-shadow: 2px 2px 2px #333;
}

.product-gallery-one-content-title ul li ~ li {
  margin-left: 13px;
}

.product-gallery-one-content-title a {
  color: #333;
}

.product-gallery-one-content-title a:hover {
  color: blue;
  font-weight: bold;
}

/*=============================== Product Gallery Two ===================================*/

.product-gallery-two {
  margin: 30px 0 15px;
}

.product-gallery-two-content {
  display: flex;
  padding-right: 12px;
  background: #fff200;
}

.product-gallery-two-content-right {
  width: 20%;
}

.product-gallery-two-content-right img {
  width: 100%;
}

.product-gallery-two-content-left {
  width: 80%;
  display: flex;
  flex-direction: column;
}

.product-gallery-two-content-left-top ul {
  height: 70px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
}

.product-gallery-two-content-left-top ul li {
  padding: 10px 14px;
  border: 1px solid white;
  border-radius: 10px;
  cursor: pointer;
}

.product-gallery-two-content-left-top ul li a {
  color: white;
}

.product-gallery-two-content-left-top ul .active {
  background: #fff;
}

.product-gallery-two-content-left-top ul .active a {
  color: #fff200;
}

.product-gallery-two-content-left-top li:last-child {
  border: none;
}

.product-gallery-two-content-left-top li:last-child a {
  font-size: 16px;
}

.product-gallery-two-content-left-bottom {
  background: #fff;
  display: flex;
  border-radius: 5px;
}

.product-gallery-two-content-left-bottom-item {
  width: 25%;
  padding: 50px 20px 20px;
  border-right: 1px solid #ddd;
  cursor: pointer;
}

.product-gallery-two-content-left-bottom-item img {
  width: 100%;
}

.product-gallery-two-content-left-bottom-item-text li {
  margin-bottom: 6px;
}

/*===================== FOOTER ============================*/
footer {
  margin: 30px 0;
  padding: 10px 50px;
  background: rgb(238, 238, 238);
}

.footer-content {
  display: flex;
  justify-content: space-between;
}

.footer-content .column h4 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
}

.footer-content .column ul li {
  margin-bottom: 10px;
}

.footer-content .column ul li .phone {
  color: black;
  font-weight: 600;
}

.footer-content .column ul li a {
  color: black;
}

.footer-content .column ul li a:hover {
  color: blue;
}

.footer-content .column ul li .phone:hover {
  color: blue;
}

.footer-content .column h5 {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 400;
}

.footer-content .subsidiary-company a {
  display: inline-block;
  margin-right: 5px;
}

.footer-content .subsidiary-company img {
  width: 80px;
  height: 24px;
  border-radius: 10px;
}

.footer-content .social-network {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.footer-content .social-network .facebook .fa-facebook {
  color: blue;
}

.footer-content .social-network .facebook .quantity {
  color: black;
}

.footer-content .social-network .facebook .quantity:hover {
  color: blue;
}

.footer-content .social-network .youtube .fa-youtube {
  color: red;
}

.footer-content .social-network .youtube .quantity {
  color: black;
}

.footer-content .social-network .youtube .quantity:hover {
  color: red;
}

.footer-content .social-network .twitter .fa-square-twitter {
  color: blue;
}

.footer-content .social-network .twitter .quantity {
  color: black;
}

.footer-content .social-network .twitter .quantity:hover {
  color: blue;
}

.copyright {
  max-width: 1200px;
  margin: 0 auto 10px;
}

.copyright a {
  color: black;
}

.copyright a:hover {
  color: blue;
}
