* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1200px;
  margin: auto;
}

header {
  background: #fff200;
  text-align: center;
  height: 44.5px;
}

/*============================== Navigation ==============================*/

nav {
  background-color: black;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul li,
a {
  color: white;
  font-size: 15px;
}

nav ul li:nth-child(2) a {
  color: #fff200;
}

nav ul li:nth-child(2) i {
  color: #fff200;
  font-size: 15px;
  margin-left: 6px;
}

nav ul li:nth-child(3) {
  position: relative;
}

nav ul li:nth-child(3) input {
  height: 35px;
  width: 100%;
  border-radius: 20px;
  border: none;
  padding-left: 8px;
  outline: none;
}

nav ul li:nth-child(3) i {
  position: absolute;
  color: black;
  font-size: 20px;
  right: 8px;
  line-height: 35px;
  cursor: pointer;
}

nav ul li:nth-child(4) button {
  height: 35px;
  padding: 0 12px;
  border-radius: 10px;
  color: white;
  border: 1px solid rgb(156, 156, 156);
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
}

nav ul li:nth-child(4) button:hover {
  background: rgb(94, 94, 94);
}

nav ul li:nth-child(4) button i {
  margin-right: 8px;
}

nav ul li:nth-child(5) {
  text-align: center;
}

nav ul li:nth-child(5):hover a {
  color: #fff200;
}

nav ul li:nth-child(6) a {
  color: #fff200;
}

.round {
  display: inline-block;
  position: relative;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background: #fff200;
  margin-right: 10px;
}

.circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background: #fff200;
  z-index: 1;
  display: block;
  animation: trans 2s linear infinite;
}

@keyframes trans {
  from {
    opacity: 0.4;
  }
  to {
    transform: scale(10);
    opacity: 0;
  }
}

nav ul li:nth-child(7) {
  text-align: center;
}

nav ul li:nth-child(7):hover a {
  color: #fff200;
}

nav ul li:nth-child(8):hover a {
  color: #fff200;
}

nav ul li:nth-child(9):hover a {
  color: #fff200;
}

/*============================== Menubar ==============================*/

.menu-bar {
  background: #fed100;
}

.menu-bar ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-bar ul li a {
  color: black;
  font-size: 15px;
}

.menu-bar-content > ul > li {
  padding: 18px 5px;
  transition: all 0.2s ease;
}

.menu-bar ul li:hover {
  background: white;
}

.menu-bar ul li a i {
  font-size: 19px;
}

.menu-bar ul li:nth-child(9) {
  position: relative;
}

.menu-bar ul li:nth-child(9) .note {
  position: absolute;
  display: inline-block;
  background: #f51212;
  font-size: 10px;
  color: white;
  border-radius: 20px;
  width: 46px;
  line-height: 16px;
  text-align: center;
  top: 2px;
  right: -4px;
}

.menu-bar ul li:nth-child(9) .note::after {
  content: "";
  position: absolute;
  border: 4px #f51212 solid;
  border-color: #f51212 transparent transparent;
  bottom: -7.9px;
  left: 8px;
}

/*============================== Address form ==============================*/

.address-form {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 2;
  color: black;
  display: none;
}

.address-form-content {
  width: 400px;
  height: 450px;
  background: white;
  border-radius: 5px;
}

.address-form-content form {
  padding: 0 40px;
}

.address-form-content h2 {
  font-size: 14px;
  padding: 12px 0;
  border-bottom: 1px solid #ddd;
  position: relative;
  margin-bottom: 20px;
}

.address-form-content h2 span {
  display: block;
  position: absolute;
  height: 30px;
  padding: 0 6px;
  border: 1px solid #ddd;
  font-weight: 600;
  top: 5px;
  right: 12px;
  cursor: pointer;
  line-height: 30px;
  border-radius: 8px;
}

.address-form-content h2 span:hover {
  background: #b8b4b4;
}

.address-form-content p {
  margin-bottom: 20px;
  font-size: 16px;
}

.address-form-content input,
select {
  height: 40px;
  display: block;
  margin: 25px 0;
  width: 100%;
  font-size: 16px;
  border: 1px solid rgb(161, 157, 157);
}

.address-form-content form button {
  height: 40px;
  width: 300px;
  background: orange;
  border: none;
  font-size: 18px;
  font-weight: 500;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

/*======================= Submenu ========================*/
.menu-bar-content ul li {
  position: relative;
}

.submenu {
  position: absolute;
  background: #ddd;
  width: 300px;
  height: 200px;
  top: 100%;
  left: 0;
  padding: 0.5px 0.5px;
  overflow: scroll;
  display: none;
  z-index: 2;
}

.submenu ul {
  display: block;
}

.submenu ul li {
  padding: 10px 0;
}

.submenu ul li:hover a {
  color: blue;
  font-weight: bolder;
}

.submenu ul li:hover {
  background: none;
}

.menu-bar-content ul li:hover .submenu {
  display: block;
}

/*================================ Slider ======================================*/
li {
  list-style: none;
}

.slider {
  padding: 20px 0;
  height: 350px;
}

.slider-content {
  display: flex;
  justify-content: space-between;
}

.slider-content-left {
  width: 65%;
}

.slider-content-left-top {
  width: 100%;
  height: 300px;
  position: relative;
}

.slider-content-left-top:hover .fa-solid {
  opacity: 1;
}

.slider-content-left-top-btn {
  position: absolute;
  top: 50%;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.slider-content-left-top-btn .fa-solid {
  color: #333;
  font-size: 32px;
  height: 50px;
  width: 25px;
  background: #fff7f7;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-50%);
  border-radius: 5px;
  opacity: 0;
  transition: all 0.3s ease;
  cursor: pointer;
}

.slider-content-left-top img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider-content-left-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #ddd;
  border-top: none;
  height: 50px;
}

.slider-content-left-bottom li {
  width: 20%;
  text-align: center;
  cursor: pointer;
  padding: 6px 0;
  height: 100%;
  line-height: 38px;
  position: relative;
}

.slider-content-left-bottom li::before {
  display: block;
  content: "";
  position: absolute;
  height: 70%;
  width: 1px;
  background: #ddd;
  right: 0;
}

.slider-content-left-bottom li.active {
  border-top: 4px solid #fff200;
}

.slider-content-right {
  width: 35%;
  display: flex;
  flex-wrap: wrap;
  padding: 0 20px;
  justify-content: space-around;
}

.slider-content-right li {
  width: 50%;
  height: 50%;
  text-align: center;
  margin-bottom: 3px;
}

.slider-content-right li img {
  height: 170px;
  width: 170px;
  object-fit: cover;
}
